*~
*.bak
*.pyc
*.o
cscope.out
tags
Makefile.in
Makefile
configure
config.h.in
aclocal.m4
autom4te.cache
build-aux
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
doc/html/
doc/latex/
doc/web/
doc/doctrees/
samples/tmp_*
fityk/swig/Fityk.pm
fityk/swig/fityk.py
fityk/swig/fityk_*.cpp
fityk/swig/luarun.h
fityk/swig/java/
doc/screenshots/*.png
! doc/screenshots/fityk076.png
fityk/cmpfit/test*
fityk/cmpfit/*.patch
*-build/
*-build-*/
fityk-?.?.?-setup.exe
fityk-?.?.?.tar.bz2
