[Desktop Entry]
Type=Application
Name=fityk
Comment=Peak fitting and data analysis
GenericName=Curve Fitter
Icon=fityk
Exec=fityk %F
Terminal=false
StartupNotify=true
MimeType=application/x-fityk;
# according to: http://standards.freedesktop.org/menu-spec/latest/apa.html
# we need one category from Main Categories list. Two reasonable choices are
# Office and Education. I think Office is more suitable, but some people think
# otherwise. Leaving Science with no Main Category will put the fityk entry
# into Education menu.
#Categories=Science;Office;DataVisualization;GTK;
Categories=Science;DataVisualization;GTK;

