[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=fityk
Comment=peak fitting and data analysis
GenericName=Curve Fitter
Icon=fityk.png
Exec=fityk %F
Terminal=false
StartupNotify=true
MimeType=application/x-fityk;
Categories=Science;Office;DataVisualization;GTK;
