
body, th, td { 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 0.87em;
}

code, tt  { 
	font-family: "lucida typewriter", lucidatypewriter, monospace; 
}

pre { 
	color: #00008b;
	font-family: "lucida typewriter", lucidatypewriter, monospace;
	font-size: 90%; 
}

div.variablelist {
	padding-left: 1em;
	border:2px dashed #7c1; 
}

.variablelist dl dd p {
	margin-top: 0pt;
}

/*
.command {
	font-weight: normal;
	background-color: #ccf;
}
*/

div.caution, div.important, div.note, div.tip, div.warning {
	margin: 1em 0; 
	border:1px solid #7c1; 
}

div.note .title {
	display: none;
	/*
	font-weight: bold;
	font-size: 100%;
	font-family: sans-serif;
	margin-bottom: 0; margin-top: 0.8em;
	*/
}

div.note { 
	padding-left: 55px; 
	background:url(fitykhelp_img/bulb.png) .8em .8em no-repeat;
}

em.parameter code {
	color: #600;
}

strong.userinput code {
	color: #335;
}

table.simplelist {
	padding-left: 2em; 
}
